@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";



.custom-main {
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/227908/pexels-photo-227908.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 15vh;
 
}